body{
	padding: 0;
	margin: 0;
	font:  18px/1.5 Arial, Helvetica, sans-serif;
}

/* logo */
.logo img{
	height: 40px;
	margin-top: 10px;
}

/* sidebar */
.sidebar{
	width: 20%;
	float: left;
	margin-left: 50px;
}

.nav{
	margin-top: 10px;
	margin-bottom: 10px;
	align-items: center;
	display: inline-flex;
	cursor: pointer;
	padding-right: 60px;
}

.nav a{
	color: #000000;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
}

.nav a:hover{
	color: #cccccc;
	font-weight: bold;
}

/* mainbar */
.mainbar{
	width: 50%;
	float: left;
	margin-left: 12.5px;
}

/* rigtbar */
.rightbar{
	width: 20%;
	float: right;
	margin-right: 50px;
}





